{% extends 'slide.tmpl' %}
{% block slides %}


<section data-markdown><script type="text/template">
### Hey

</script></section>


<section data-markdown><script type="text/template">
### Slide A

* a
* b
* c

<aside class="notes">
Hidden notes here
</aside>

</script></section>


<section data-markdown><script type="text/template">
### Slide B

    #include <stdio.h>

    int main() {
        printf("Hello");
    }

</script></section>


{% endblock %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
