{% extends 'slide.tmpl' %}
{% from 'render.tmpl' import md_slide, html_slide %}

{% block slides %}


{% call md_slide('Warm-Up') %}
* Statistics
* Deadline
* WileyPlus
{% endcall %}

{% call md_slide('Resources') %}
* [Rutgers notes](http://www.cs.rutgers.edu/~pxk/416/notes/)
* [MIT OCW](http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-828-operating-system-engineering-fall-2006/lecture-notes/)
{% endcall %}


{% call md_slide('Multi-Programming') %}
* Single- vs. Multi-Programming systems
* Advantages of Multi-Programming
* What about Polling vs. Interrupts
* CPU-bound vs. I/O-bound processes
* Why do we need a good mixture?
{% endcall %}


{% call md_slide('User/Kernel Boundary') %}
[Overview](http://www.cs.rutgers.edu/~pxk/416/notes/03-concepts.html#structureofatypicaloperatingsystem)

* kernel invocation
* voluntary vs. involuntary
* synchronous vs. asynchronous
* kernel stack vs. user stack
{% endcall %}


{% call md_slide('System Calls') %}
* system call, trap
* system call number and OS API
* parameter passing
* library calls
* user-, kernel-level transition
* user level read/write buffer
{% endcall %}


{% call md_slide('GUI') %}
* what program to run on click
{% endcall %}


{% call md_slide('Linux Kernel') %}
* preemption
* fstack protector
* timer frequency
{% endcall %}


{% call md_slide('Reminder') %}
* Have a look at the tut assignments in advance!
* Assignments (only P, not T): <daniel+osdev@trvx.org>
{% endcall %}


{% endblock %}
{# vim: set tabstop=4 shiftwidth=4 expandtab: #}
